<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' type="text/css" />
		<title>Eat-a-Burger</title>

	</head>
	<body>
		<br>
		{{{ body }}}
	</body>
</html>
